<div class="home__container">
  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="DIGITAL"
    gamePrice="R$ 345,00"
    gameType="Digital Play 3"
  >
  </app-card>
  <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="EXCLUSIVE"
    gamePrice="R$ 500,00"
    gameType="Digital PS3"
  >
  </app-card>
  <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="NEW"
    gamePrice="R$ 238,00"
    gameType="Digital PS3 | PS4 | PS5"
  >
  </app-card>
  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="EXCLUSIVE"
    gamePrice="R$ 150,00"
    gameType="Digital Play 5"
  >
  </app-card>
</div>
